<div class="container-lg form-container">
  <br>

  <form novalidate [formGroup]="componentForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-md-4">
        <label class="control-label">Nome</label>
        <input class="form-control rounded" formControlName="nome" placeholder="inicia com..." />
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-2 pr-0 pl-3 form-group">
            <label class="control-label ">Idade</label>
            <input class="form-control rounded" placeholder="de" formControlName="idadeDe" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>
          <div class="col-2 pr-0 pl-1 form-group">
            <label class="control-label">&nbsp;</label>
            <input class="form-control rounded" placeholder="até" formControlName="idadeAte" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>

          <div class="col-2 pr-0 pl-2">
            <label class="control-label ">Altura</label>&nbsp;<small class="text-muted">cm</small>
            <input class="form-control rounded" placeholder="de" formControlName="alturaDe" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>
          <div class="col-2 pr-0 pl-1">
            <label class="control-label">&nbsp;</label>
            <input class="form-control rounded" placeholder="até" formControlName="alturaAte" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>

          <div class="col-2 pr-0 pl-2">
            <label class="control-label ">Peso </label>&nbsp;<small class="text-muted">Kg</small>
            <input class="form-control rounded" placeholder="de" formControlName="pesoDe" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>
          <div class="col-2   pl-1">
            <label class="control-label">&nbsp;</label>
            <input class="form-control rounded" placeholder="até" formControlName="pesoAte" [textMask]="{mask: MASKS?.number.textMask}" />
          </div>
        </div>
      </div>


      <div class="form-group col-md-9 pr-0">
        <app-label class="sr-only">Tipo Casting</app-label>
        <div class="row col-12 mr-0">
          <div class="checkbox pr-0 mr-5" formArrayName="tipoCasting" *ngFor="let item of getTipoCastingControls(); let i = index">
            <label class="checkbox-inline font14">
              <input type="checkbox" [formControlName]="i"> {{ tipoCasting[i].text }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="btn-group float-end" role="group">
          <button type="button" class="btn btn-secondary" (click)="resetForm()">
            <i class="fa fa-eraser"></i>
          </button>
          <button class="btn btn-primary " type="submit">
            <i class="fa fa-search"></i> Pesquisar
          </button>
        </div>
      </div>

    </div>
  </form>

  <h1 class="display-9 legend mt-0"></h1>
  <br>
  <div class="row content-result">
    <div class="col-sm-3" *ngFor="let modelo of models | async; let i = index">
      <div class="card ">
        <div class="card-header pt-2">
          <a [routerLink]="[componentRoute + '/edit', modelo.id]">
            <div class="box-img-perfil img-responsive">
              <img class="ratio img-circle" [style.background-image]="'url(' + pathImagensPerfil + '/' + (modelo.imagemPerfilNome|encode:'URI') + ')'">
            </div>

            <h5 class="card-title cursor-pointer text-center">
              {{modelo.nome}}
            </h5>
          </a>
        </div>

        <div class="card-body p-3">
          <div class="demo-inline-spacing">
            <!-- <span>{{item}}</span> -->
            <span *ngFor="let item of modelo.nomeTipoCasting" class="badge rounded-pill bg-primary  text-capitalize">{{item}}</span>
          </div>

          <div class="card-modelo-caracteristica">
            <span class="card-text mb-1 font14">
              Disponível: {{modelo.diponibilidade}}
            </span><br>
            <span class="label-carac d-inline-block">Cor dos Olhos:</span><span class="badge badge-light-primary mb-sm-0 ">{{modelo.nomeCorOlhos}}</span><br>
            <span class="label-carac d-inline-block">Cor do Cabelo: </span><span class="badge badge-light-primary mb-sm-0 ">{{modelo.nomeCorCabelo}}</span><br>
            <span class="label-carac d-inline-block">Tipo Cabelo: </span><span class="badge badge-light-primary mb-sm-0 ">{{modelo.nomeTipoCabelo}}</span><br>
            <span class="label-carac d-inline-block">Comprimento: </span><span class="badge badge-light-primary mb-sm-0 ">{{modelo.nomeTipoCabeloComprimento}}</span><br>
            <span class="label-carac">Peso: </span>
            <span class="badge badge-light-primary text-lowercase mb-sm-0 mr-3 p-2 ">{{modelo.peso}} Kg</span>

            <span class="label-carac">Idade: </span>
            <span class="badge badge-light-primary mb-sm-0 p-2 ">{{modelo.dtNascimento | age}}</span>
            <span class="label-carac fs-12">({{modelo.dtNascimento | date:'dd/MM/YYYY'}})</span>
          </div>
        </div>

        <div class="card-footer border-top d-flex  ">
          <i class="fab fa-instagram" style="padding-right: 6px; font-size: 18px;"></i>
          <small class="text-truncate cursor-pointer">
            <a href="https://www.instagram.com/{{modelo.instagram}}" class="success darken-4" target="_blank">
              @{{modelo.instagram}}
            </a>
          </small>
        </div>

      </div>
    </div>
  </div>

  <!--Pagination -->
  <div class="pagination justify-content-center" style="display: none;">
    <div class="search-pagination">
      <ul class="pagination pagination-borderless  mt-2">
        <li class="page-item previous">
          <a class="page-link bg-dark" href="javascript:void(0);">
            <i class="fas fa-arrow-left "></i>
          </a>
        </li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="bg-dark page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="bg-dark page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item"><a class="bg-dark page-link" href="javascript:void(0);">4</a></li>

        <li class="page-item next">
          <a class="page-link bg-dark" href="javascript:void(0);">
            <i class="fas fa-arrow-right "></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
