<div class="container main-container">

    <h1 class="display-7 text-uppercase">Fornecedor</h1>

    <form novalidate [formGroup]="componentForm" (ngSubmit)="submitForm()">

        <div class="form-group">
            <label class="col-md-6 control-label">Razão Social</label>
            <div class="col-md-12">
                <input class="form-control bg-dark text-white" placeholder="(obrigatório)" formControlName="razaoSocial" id="razaoSocial"
                    [ngClass]="{'is-invalid': displayMessage?.razaoSocial}" />
                <span class="text-danger" *ngIf="displayMessage?.razaoSocial">
                    <p [innerHTML]="displayMessage?.razaoSocial"></p>
                </span>
            </div>
        </div> 

        <div class="form-group">
            <label class="col-md-6 control-label">CNPJ</label>
            <div class="col-md-6">
                <input class="form-control bg-dark text-white" placeholder="(obrigatório)" formControlName="cnpj" id="cnpj" [ngClass]="{'is-invalid': displayMessage?.cnpj}"
                [textMask]="{mask: MASKS?.cnpj.textMask}" />
                <span class="text-danger" *ngIf="displayMessage?.cnpj">
                    <p [innerHTML]="displayMessage?.cnpj"></p>
                </span>
            </div>
        </div>
 
        <div>
            <label class="col-md-6 control-label">Atividade</label>
            <div class="col-md-6">
                <input class="form-control bg-dark text-white" placeholder="(obrigatório)" formControlName="atividade" id="atividade" [ngClass]="{'is-invalid': displayMessage?.atividade}" />
                <span class="text-danger" *ngIf="displayMessage?.atividade">
                    <p [innerHTML]="displayMessage?.atividade"></p>
                </span>
            </div>
        </div>

        
        <div class="d-flex flex-row-reverse">
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2 ">
                    <span>                        
                        <button   class="btn btn-primary" type="submit">Salvar</button>
                    </span>
                    
                </div>
            </div>
             
        </div>

    </form>
</div>