 
<ul [ngSwitch]="usuarioLogado()" class="navbar-nav">

    <li *ngSwitchCase="true" class="nav-item"  >
        <a class="nav-link text-white" id="saudacaousuario" href="javascript:void(0)">{{email}}</a>
    </li>
    <li *ngSwitchCase="true" class="nav-item"  >
        <a class="nav-link text-white"  href="javascript:void(0)" (click)="logOut()" >
            Sair <span class="fas fa-sign-out-alt"></span>
        </a>
    </li>


    <li  *ngSwitchCase="false"  class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-secondary"  [routerLink]="['/conta/login']"  >Entrar</a>
    </li>
    <li  *ngSwitchCase="false"  class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-secondary"  [routerLink]="['/conta/cadastro']" >Registrar</a>
    </li>
    
</ul>

 