<ul *ngIf="usuarioLogado()" class="navbar-nav mr-auto">
    <!-- <li class="nav-item">
        <a class="nav-link text-white" href="/">Home</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/contas-a-pagar/listar']">Contas a Pagar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/fornecedores/listar']">Fornecedores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/cliente/listar']">Clientes</a>
    </li>
</ul>

<div [ngSwitch]="usuarioLogado()" class="form-inline my-2 my-lg-0">

    <div *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-white" id="saudacaousuario" href="javascript:void(0)" (click)="obterPerfil()">{{email}}</a>
    </div>
    <div *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" (click)="logOut()">
            Sair <span class="fas fa-sign-out-alt"></span>
        </a>
    </div>


    <p *ngSwitchCase="false" class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-secondary bt-conta" [routerLink]="['/conta/login']">Entrar</a>
    </p>
    <p *ngSwitchCase="false" class="nav-item" style="padding-right: 30px;">
        <a class="btn btn-secondary bt-conta" [routerLink]="['/conta/cadastro']">Registrar</a>
    </p>

</div>