<div class="container main-container">

    <h1 class="display-7 text-uppercase">Novo Modelo</h1>

    <form novalidate [formGroup]="componentForm" (ngSubmit)="submitForm()">

        <div class="form-group">
            <label class="control-label">Nome</label>
            <div class="">
                <input class="form-control bg-dark text-white" placeholder="(obrigatório)" formControlName="nome" id="nome"
                    [ngClass]="{'is-invalid': displayMessage?.nome}" />
                <span class="text-danger" *ngIf="displayMessage?.nome">
                    <p [innerHTML]="displayMessage?.nome"></p>
                </span>
            </div>
        </div>


    </form>
</div>