<div class="container main-container form-container">
  <br>
  <h1 _ngcontent-yhx-c165="" class="display-7 text-uppercase">Cadastro</h1>
  <hr />

  <form novalidate [formGroup]="cadastroForm" (ngSubmit)="registrar()">
    <div class="row">
      <div class="col-md-7 pe-md-5 position-relative">
        <div class="content-header mb-3">
          <h4 class="mb-0">Conta de Usuário</h4>
          <span>dados de acesso </span>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <app-label [required]="true">Telefone</app-label>
            <div class="col-md-12">
              <input class="form-control" id="telefone" type="text" placeholder="" formControlName="telefone" [ngClass]="{'is-invalid': displayMessage?.telefone}" [textMask]="{mask: MASKS?.telefone.textMask}" />
              <span class="text-danger" *ngIf="displayMessage?.telefone">
                <p [innerHTML]="displayMessage?.telefone"></p>
              </span>
            </div>
          </div>

          <div class="form-group col-md-6">
            <app-label [required]="true">E-mail</app-label>
            <div class="col-md-12">
              <input class="form-control" id="email" type="text" placeholder="" formControlName="email" [ngClass]="{'is-invalid': displayMessage?.email}" />
              <span class="text-danger" *ngIf="displayMessage?.email">
                <p [innerHTML]="displayMessage?.email"></p>
              </span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <app-label [required]="true">Password</app-label>
            <div class="col-md-12">
              <input class="form-control" id="password" type="password" placeholder="" formControlName="password" [ngClass]="{'is-invalid': displayMessage?.password}" />
              <span class="text-danger" *ngIf="displayMessage?.password">
                <p [innerHTML]="displayMessage?.password"></p>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <app-label [required]="true">Confirmação</app-label>
            <div class="col-md-12">
              <input class="form-control" id="confirmPassword" type="password" placeholder=" " formControlName="confirmPassword" [ngClass]="{'is-invalid': displayMessage?.confirmPassword}" />
              <span class="text-danger" *ngIf="displayMessage?.confirmPassword">
                <p [innerHTML]="displayMessage?.confirmPassword"></p>
              </span>
            </div>
          </div>
        </div>

        <br>
        <div class="content-header mb-3">
          <h4 class="mb-0">Identidade</h4>
          <span>sua identificação como pessoa</span>
        </div>

        <div class="row">
          <div class="form-group col-7">
            <app-label [required]="true">Nome Completo</app-label>
            <div class="col-md-12">
              <input class="form-control" id="nome" type="text" formControlName="nome" [ngClass]="{'is-invalid': displayMessage?.nome}" />
              <span class="text-danger" *ngIf="displayMessage?.nome">
                <p [innerHTML]="displayMessage?.nome"></p>
              </span>
            </div>
          </div>
          <div class="form-group col-5">
            <app-label [required]="true">CPF</app-label>
            <div class="col-md-12">
              <input class="form-control" id="cpf" type="text" formControlName="cpf" [ngClass]="{'is-invalid': displayMessage?.cpf}" [textMask]="{mask: MASKS?.cpf.textMask}" />
              <span class="text-danger" *ngIf="displayMessage?.cpf">
                <p [innerHTML]="displayMessage?.cpf"></p>
              </span>
            </div>
          </div>
        </div>

        <br class="d-md-none">
        <br class="d-md-none">
        <div class="hr-v d-none d-md-block"></div>
      </div>


      <div class="col-md-5">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-3">
                <h4 class="mb-0"> Representação </h4>
                <span>como se caracteriza ao realizar esse cadastro</span>
              </div>

              <div class="card-body">
                <div id="tipoCadastro" class="row">

                  <div class="col-md p-1">
                    <div class="form-check custom-option custom-option-icon">
                      <label class="form-check-label custom-option-content  " for="customRadioIcon2">
                        <span class="custom-option-body">
                          <i class="bx bx-user"></i>
                          <span class="custom-option-title"> Agente Autônomo </span>
                          <small> sou um agente e não possuo empresa, mas quero ter meu catálogo na plataforma Onemodel.me</small>
                        </span>
                        <input  id="customRadioIcon2"  type="radio" class="form-check-input" [value]="CoreEnum.TipoCadastro.Agente" formControlName="tipoCadastro" [ngClass]="{'is-invalid': displayMessage?.tipoCadastro}" />
                      </label>
                    </div>
                  </div>

                  <div class="col-md mb-md-0 mb-2 p-1">
                    <div class="form-check custom-option custom-option-icon">
                      <label class="form-check-label custom-option-content  " for="customRadioIcon1">
                        <span class="custom-option-body">
                          <i class="bx bx-rocket"></i>
                          <span class="custom-option-title">Empresa Agência</span>
                          <small> trabalho em uma agência de modelos e sou o responsável pelo catálogo na plataforma Onemodel.me</small>
                        </span>

                        <input  id="customRadioIcon1"  type="radio" class="form-check-input" [value]="CoreEnum.TipoCadastro.Agencia" formControlName="tipoCadastro" [ngClass]="{'is-invalid': displayMessage?.tipoCadastro}" />
                      </label>
                    </div>
                  </div>
                </div>

                <span class="validation" *ngIf="displayMessage?.tipoCadastro">
                  <p [innerHTML]="displayMessage?.tipoCadastro"></p>
                </span>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <h6 class="mb-2">Erros:</h6>
      <ul class="mb-2">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="alert alert-warning " *ngIf="validations.length > 0">
      <h6 class="mb-2">Validações:</h6>
      <ul class="mb-2">
        <li *ngFor="let validation of validations">
          {{ validation }}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span><button class="btn btn-primary" id="Registrar" type="submit">Registrar</button></span>
        <!--[disabled]="(1 == 0) && !cadastroForm.valid"-->
      </div>
    </div>

    <!-- <div class="form-group hidden">
      <div class="col-md-4 col-md-offset-2">
        <p>Valido: {{cadastroForm.valid}}</p>
        <p>Tocado: {{cadastroForm.touched}}</p>
        <p>Sujo: {{cadastroForm.dirty}}</p>
        <p> {{formResult}}</p>
      </div>
    </div> -->

  </form>
</div>
