<div class="container main-container">
    <h4>Cadastro</h4>
    <hr />
    <form novalidate [formGroup]="cadastroForm" (ngSubmit)="adicionarUsuario()">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label"> Nome</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label"> Nome</label>
                <div class="col-md-10">
                    <input class="form-control" id="CPF" type="text" placeholder="CPF (requerido)" formControlName="cpf" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                <p>Valido: {{cadastroForm.valid}}</p>
                <p>Valido: {{cadastroForm.valid}}</p>
                <p>Valido: {{cadastroForm.valid}}</p>
                </div>
            </div>
        </div>


    </form>
</div>