<div class="container main-container">
    <h4>Cadastro</h4>
    <hr />
    <form novalidate [formGroup]="cadastroForm" (ngSubmit)="adicionarUsuario()">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label"> Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                        formControlName="nome"
                        [ngClass]="{'is-invalid': cadastroForm?.get('nome')?.errors && (cadastroForm?.get('nome')?.dirty || cadastroForm?.get('nome')?.touched) }" />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('nome')?.errors && (cadastroForm?.get('nome')?.dirty || cadastroForm?.get('nome')?.touched)">
                        <p>Preencha</p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">
                    <input class="form-control" id="CPF" type="text" placeholder="CPF (requerido)" formControlName="cpf"
                    cpf [textMask]="{mask: MASKS.cpf.textMask}" />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('cpf')?.errors && (cadastroForm?.get('cpf')?.dirty || cadastroForm?.get('cpf')?.touched)">
                        <p>Inválido </p>
                    </span>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email"  />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('email')?.errors && (cadastroForm?.get('email')?.dirty || cadastroForm?.get('email')?.touched)">
                        <p>Inválido </p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Telefone</label>
                <div class="col-md-10">
                    <input class="form-control" id="telefone" type="text" placeholder="Telefone" formControlName="telefone" 
                    telefone #telefone [textMask]="{mask: MASKS.telefone.textMaskFunction}" />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('telefone')?.errors && (cadastroForm?.get('telefone')?.dirty || cadastroForm?.get('telefone')?.touched)">
                        <p>Inválido </p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input class="form-control" id="password" type="text" placeholder="Password (requerido)" formControlName="password"   />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('password')?.errors?.rangeLength && (cadastroForm?.get('password')?.dirty || cadastroForm?.get('password')?.touched)">
                        <p>Inválido </p>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label">Confirmação</label>
                <div class="col-md-10">
                    <input class="form-control" id="confirmPassword" type="text" placeholder="Confirmação (requerido)" formControlName="confirmPassword"   />
                    <span class="text-danger"
                        *ngIf="cadastroForm?.get('confirmPassword')?.errors?.equalTo && (cadastroForm?.get('confirmPassword')?.dirty || cadastroForm?.get('confirmPassword')?.touched)">
                        <p>Inválido </p>
                    </span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
                    <!--[disabled]="(1 == 0) && !cadastroForm.valid"-->
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Valido: {{cadastroForm.valid}}</p>
                    <p>Tocado: {{cadastroForm.touched}}</p>
                    <p>Sujo: {{cadastroForm.dirty}}</p>
                    <p> {{formResult}}</p>
                </div>
            </div>
        </div>


    </form>
</div>