<!-- <div class="container main-container"></div> -->
	<table  class="container-table">
		<thead>
			<tr>
				<th>Dia</th>
				<th>Conta</th>
				<th>Valor</th>
				<th class="w90">Pago</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let conta of contasPagamento">
				<td class="text-right">{{ conta.dtVencimento | date:'dd'}}</td>
				<td class="text-pink text-capitalize"> <a [routerLink]="['/contas-a-pagar/detalhe', conta.id]">{{conta.descricaoFornecedor}}</a> </td>
				<td class="text-right">{{ conta.valor | currency:'BRL':true:'1.2-2':'pt' }}</td>
				<td class="text-center content-checkbox"> 
					<input type="checkbox" class="form-check-input"
					name="{{conta.indPago}}"
					[value]="conta.indPago" [checked]="conta.indPago" > 
				</td>
				<td class="text-center">
					<a class=" text-white" href="javascript:void(0)" (click)="excluir(conta)" >
						<i class="fas fa-trash-alt yellow"></i>
					</a>				
				</td>
			</tr>			
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-right"> 
					<button class="bt yellow" [routerLink]="['/contas-a-pagar/novo']"  >
						<i class="fas fa-plus yellow"></i> <span class="yellow">&nbsp;Novo</span>
					</button>
				 </td>
			</tr>
		</tfoot>
	</table>


<!-- <h5> 
    <span class="blue">&lt;</span>
    <span class="blue-light">Table</span>
    <span class="blue">&gt;</span> 
    
    <span class="yellow">Responsive
    </span>
</h5>
<h2>Created with love by <a href="http://pablogarcia.dev" target="_blank">Pablo García</a></h2> -->

