<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template ">
                <h1>
                    Oops!</h1>
                <h2>
                    404, página não encontrada</h2>
                <div class="error-details ">
                    Ocorreu uma falha com a sua navegação, este endereço não existe.
                    <br>
                    <br> Contate o suporte técnico
                </div>
                 
            </div>
        </div>
    </div>
</div>