<!-- <div class="container main-container"></div> -->
<table class="container-table">
	<thead>
		<tr>
			<th>Dia</th>
			<th>Conta</th>
			<th>Valor</th>
			<th class="w90">Pago</th>
			<th>Ação</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let pagamento of contasPagamento">
			<td class="text-right">{{ pagamento.dtVencimento | date:'dd/MM'}}</td>
			<td class="text-pink text-capitalize"> <a [routerLink]="['/contas-a-pagar/editar', pagamento.id]">{{pagamento.descricaoFornecedor}}</a> </td>
			<td class="text-right">{{ pagamento.valor | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
			<td class="text-center content-checkbox">
				<input type="checkbox" class="form-check-input" name="{{pagamento.indPago}}" [value]="pagamento.indPago" [checked]="pagamento.indPago" (change)="onChangePago($event, pagamento.id)"  >
			</td>
			<td class="text-center">
				<a class="text-white" href="javascript:void(0)" (click)="excluir(pagamento)"  placement="left" ngbTooltip="Excluir '{{pagamento.descricaoFornecedor}}'" >
					<i class="fas fa-trash-alt yellow"></i>
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-right">
				<button class="bt yellow" [routerLink]="['/contas-a-pagar/inserir']"  [disabled]="!localStorageUtils.possuiPermissao('PAGAMENTO', 'INSERIR')">
					<i class="fas fa-plus yellow"></i> <span class="yellow">Novo</span>
				</button>
			</td>
		</tr>
	</tfoot>
</table>

<div class="container " *ngIf="false">
	<div class="row">
		<div class="sm-6">
			<div class="alert alert-warning">
				<strong>Vivamus! </strong> sagittis lacus
			</div>
		</div>
	</div>
	<div class="row">
		<div class="sm-6">
			<ngb-alert type="info" [dismissible]="true">
				<strong>Warning!</strong> Better check yourself, you're not looking too good.
			</ngb-alert>
		</div>
	</div>
	<div class="row">
		<div class="sm-2">
			<button type="button" class="bt yellow mr-2" placement="top" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
				Popover on top
			</button>
		</div>
	</div>

</div>



<!-- <h5> 
    <span class="blue">&lt;</span>
    <span class="blue-light">Table</span>
    <span class="blue">&gt;</span> 
    
    <span class="yellow">Responsive
    </span>
</h5>
<h2>Created with love by <a href="http://pablogarcia.dev" target="_blank">Pablo García</a></h2> -->