@media (max-width: 800px) {}

/* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739 !important;


  text-size-adjust: initial !important;
  -webkit-tap-highlight-color: initial !important;
}

html {
  -webkit-tap-highlight-color: unset
} */

app-menu-login {
  display: contents;
}

h1 {

  font-weight: 300;
  color: #4DC3FA;
}

h2 {
  font-weight: 300;
  text-align: center;
  display: block;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}



.bt-conta {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 3px;
  margin-top: 5px;
  min-width: 107px;
  text-transform: uppercase;
}

.bt {
  color: rgba(255, 255, 255, .5);
  border-color: transparent;
  background: transparent;
  border: 1px solid;
  text-transform: uppercase;
}

.bt:disabled {
  opacity: 0.4;
}

.bt.yellow {
  border-color: #FFF842;
}

.form-control, .input-group .form-control, .label-as-control {
  border-radius: 0;
  /* border: 1px solid #495057; */
}

.label-as-control{
  margin: 0;
  background-color: initial;
}

.main-container {
  padding-top: 10px;
}

.hidden {
  display: none;
}

.toast-center-center {
  top: 40% !important;
}

.toast-container .ngx-toastr {
  border-radius: 0px !important;
  box-shadow: 0 0 0 700px #00000063 !important;
}

/***** TYPOGRAPHY  *****/

.blue {
  color: #185875;
}

.blue-light {
  color: #4DC3FA;
}

.yellow {
  color: #FFF842;
}

.display-7 {
  font-size: 2.0rem
}

.display-8 {
  font-size: 1.3rem
}

.display-9 {
  font-size: 1rem
}

.font14 {
  font-size: 14px !important;
}

label {
  margin-bottom: 0.1rem;
}

h1.legend {
  border-bottom: solid 1px #4dc3fa8a;
  margin-top: 16px;
  padding-bottom: 2px;

}

h1.grey {
  border-bottom: solid 1px #495057;
}

.hidden-disabled[disabled] {
  display: none !important;
}

input[type=text]:disabled {
  opacity: 0.5 !important;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

a:not([href]){
  cursor: pointer !important;
}

/************************/

/*

.container-table h1 {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}


.container-table td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.container-table {
  text-align: left;
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  display: table;
  padding: 0 0 15px 0;
  border-collapse: separate;

  text-size-adjust: initial !important;
  -webkit-tap-highlight-color: initial !important;

}

.container-table td, .container-table th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}


.container-table tr:nth-child(odd) {
  background-color: #323C50;
}

.container-table tr:nth-child(even) {
  background-color: #2C3446;
}

.container-table th {
  color: #4DC3FA;
  background-color: #1F2739;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
}



.container-table td.text-pink {
  color: #FB667A !important;
}

.container-table td.text-pink a {
  color: #FB667A !important;
  text-decoration: underline;
}

.container-table td input[type=checkbox] {
  margin: 0px;
  margin-left: -10px;
}

.container-table td.content-checkbox {
  padding-bottom: 13px;
}


.container-table tbody tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

.container-table th.w90 {
  width: 90px;
}

*/




input[type="radio"]:disabled {
  -webkit-appearance: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0px;
  background-clip: content-box;
  border: 2px solid #fffcfc26;
  background-color: #fffcfc26;
  border-radius: 50%;
}
/* essa cor era necessária em backgrounds mais escuro, por enquanto pode ficar sem esse estilo;
  input[type="radio"]:checked {
  background-color: #11141b;
  border-color: #fcfcff7a;
}
.form-container input.form-control  {
  color: #fff !important;
  background-color: #343a40 !important;

}
*/

/**/
.form-container .input-group-text{
 color: #fff !important;

 border-radius: 0;
 padding-right: 3px;
 border: 1px solid #495057;
 color: #636f77 !important;
 font: 100;
 background-color: #343a4000 !important;
}

.input-group-sm > .input-group-append > .input-group-text{
 border-radius: 0;
}

.form-container input.as-label{
 background-color: #343a4000 !important;
   text-align: center;
   color: #bbbbbb !important;
}

.form-container .form-group span,
span.validation {
  color: #dc3545 !important;
}

.form-container .form-group span p,
span.validation p {
  position: absolute;
  font-size: 14px;
}

.form-container .form-group .control-label span { /* asterisco obrigatrorio */
  color: #dc3545 !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 0;
}

.form-group {
  margin-bottom: 1.5rem;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

img.img-circle {
  border-radius: 50%;

  background-color: #1e1f20;
  border: 1px solid #000000;
}

img.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}


/* .modal-dialog.modal-xl{
 width: 100vw;
 max-width: none;
 height: 100%;
 margin: 0;
} */

/* .modalcropper .modal-content .modal-body{
text-align: center;
}*/

.modalcropper {
  background-color: #1b1f319e;

}

.modalcropper .modal-content {
  background-color: #1b1f319e;
  border: 0;
  /* max-height: 700px */
}

.modalcropper image-cropper {
  /* text-align: center !important; */
  background-color: white;
}


.fs-12{
  font-size: 12px !important;
}


/* fix datatables */


div.dataTables_length{
  margin: 0 !important;
}
.container-filter .dataTables_filter{
  text-align: left !important;
}

.card {
  position: initial;
}


.hr-v{
  position: absolute;
    right: 13px;
    top: 45px;
    height: 86%;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 2px #36445d solid;
}
