<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <a class="navbar-brand text-white" href="/">
            <i style="font-size: x-large;" class="fas fa-hand-holding-usd yellow"></i>
        </a>

        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
            <app-menu-login></app-menu-login>
        </div>

    </nav>

</header>